@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
}

#background {
  background-image: url('../src/assets/images/headshot-bg.jpg');
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: right top;
  background-size: 95%;
}


#bgImageSpacer {
  height: 80vw;
}

@media (min-width: 640px) {
  #background {
    background-size: 75%;
  }
  #bgImageSpacer {
    height: 70vw;
  }
}

@media (min-width: 768px) {
  #background {
    background-size: 50%;
  }
  #bgImageSpacer {
    height: 60vw;
  }
}

@media (min-width: 1024px) {
    #bgImageSpacer {
    height: 50vw;
  }
}